List the dataset in alphabetical order by country.

In [1]:
import pandas as pd
df = pd.read_csv('/workspaces/InClass/olympic_games.csv') 
sorted_df = df.sort_values(by='country')
print(sorted_df)

      year games_type   host_country    host_city  athletes  teams  \
376   2008     Summer          China      Beijing     10942    204
264   2012     Summer  Great Britain       London     10568    204
587   2000     Summer      Australia       Sydney     10651    199
945   1984     Summer  United States  Los Angeles      6829    140
792   1992     Summer          Spain    Barcelona      9356    169
...    ...        ...            ...          ...       ...    ...
769   1996     Summer  United States      Atlanta     10318    197
991   1984     Summer  United States  Los Angeles      6829    140
562   2004     Summer         Greece       Athens     10625    201
1044  1980     Summer           USSR       Moscow      5179     80
462   2008     Summer          China      Beijing     10942    204

      competitions      country  gold  silver  bronze
376            302  Afghanistan     0       0       1
264            302  Afghanistan     0       0       1
587            300      Algeria     1       1       3
945            221      Algeria     0       0       2
792            257      Algeria     1       0       1
...            ...          ...   ...     ...     ...
769            271       Zambia     0       1       0
991            221       Zambia     0       0       1
562            301     Zimbabwe     1       1       1
1044           203     Zimbabwe     1       0       0
462            302     Zimbabwe     1       3       0

[1781 rows x 11 columns]

What country got the most gold medals at the Mexico Olympics?

In [5]:
import pandas as pd
df = pd.read_csv('/workspaces/InClass/olympic_games.csv') 
sorted_df = df.sort_values(by='gold', ascending=False)
print(sorted_df)

      year games_type       host_country    host_city  athletes  teams  \
988   1984     Summer      United States  Los Angeles      6829    140
1038  1980     Summer               USSR       Moscow      5179     80
1747  1904     Summer      United States    St. Louis       651     12
1745  1908     Summer      Great Britain       London      2008     22
923   1988     Summer  Republic of Korea        Seoul      8397    159
...    ...        ...                ...          ...       ...    ...
664   2000     Summer          Australia       Sydney     10651    199
659   2000     Summer          Australia       Sydney     10651    199
1293  1964     Winter            Austria    Innsbruck      1091     36
655   2000     Summer          Australia       Sydney     10651    199
1393  1956     Summer  Australia, Sweden    Melbourne      3314     72

      competitions                   country  gold  silver  bronze
988            221  United States of America    83      61      30
1038           203                      USSR    80      69      46
1747            95  United States of America    76      78      77
1745           110            United Kingdom    56      51      39
923            237                      USSR    55      31      46
...            ...                       ...   ...     ...     ...
664            300                   Uruguay     0       1       0
659            300       Trinidad and Tobago     0       1       1
1293            34                     Italy     0       1       3
655            300                 Sri Lanka     0       1       0
1393           151                   Uruguay     0       0       1

[1781 rows x 11 columns]

List the countries in alphabetical order by their name.

In [20]:
import pandas as pd
df = pd.read_csv('/workspaces/InClass/olympic_games.csv') 
sorted_df = df.sort_values(by='country') 
print(sorted_df)

      year games_type   host_country    host_city  athletes  teams  \
376   2008     Summer          China      Beijing     10942    204
264   2012     Summer  Great Britain       London     10568    204
587   2000     Summer      Australia       Sydney     10651    199
945   1984     Summer  United States  Los Angeles      6829    140
792   1992     Summer          Spain    Barcelona      9356    169
...    ...        ...            ...          ...       ...    ...
769   1996     Summer  United States      Atlanta     10318    197
991   1984     Summer  United States  Los Angeles      6829    140
562   2004     Summer         Greece       Athens     10625    201
1044  1980     Summer           USSR       Moscow      5179     80
462   2008     Summer          China      Beijing     10942    204

      competitions      country  gold  silver  bronze
376            302  Afghanistan     0       0       1
264            302  Afghanistan     0       0       1
587            300      Algeria     1       1       3
945            221      Algeria     0       0       2
792            257      Algeria     1       0       1
...            ...          ...   ...     ...     ...
769            271       Zambia     0       1       0
991            221       Zambia     0       0       1
562            301     Zimbabwe     1       1       1
1044           203     Zimbabwe     1       0       0
462            302     Zimbabwe     1       3       0

[1781 rows x 11 columns]

What Olympic games had the most athletes at it?

In [6]:
import pandas as pd
df = pd.read_csv('/workspaces/InClass/olympic_games.csv') 
column = df.at[0,'host_city']
sorted_df = df.sort_values(by='athletes', ascending=False)
print(column, sorted_df)

Beijing       year games_type host_country host_city  athletes  teams  competitions  \
102   2020     Summer        Japan     Tokyo     11420    206           339
61    2020     Summer        Japan     Tokyo     11420    206           339
90    2020     Summer        Japan     Tokyo     11420    206           339
89    2020     Summer        Japan     Tokyo     11420    206           339
88    2020     Summer        Japan     Tokyo     11420    206           339
...    ...        ...          ...       ...       ...    ...           ...
1774  1896     Summer       Greece    Athens       241     14            43
1773  1896     Summer       Greece    Athens       241     14            43
1772  1896     Summer       Greece    Athens       241     14            43
1770  1896     Summer       Greece    Athens       241     14            43
1780  1896     Summer       Greece    Athens       241     14            43

                       country  gold  silver  bronze
102                 San Marino     0       1       2
61                       Ghana     0       0       1
90                     Nigeria     0       1       1
89                 New Zealand     7       6       7
88                 Netherlands    10      12      14
...                        ...   ...     ...     ...
1774                   Germany     7       5       2
1773                    France     5       4       2
1772                   Denmark     1       2       3
1770                 Australia     2       0       1
1780  United States of America    11       7       2

[1781 rows x 11 columns]

Top 3 countries who won the most gold medals at the Great Britain summer olympics.

In [19]:
import pandas as pd
df = pd.read_csv('/workspaces/InClass/olympic_games.csv')
country = df[df['host_country']=='Great Britain']
sorted_country = country.sort_values(by='gold')
three = sorted_country.head(3)
print(three)

      year games_type   host_country host_city  athletes  teams  competitions  \
264   2012     Summer  Great Britain    London     10568    204           302
329   2012     Summer  Great Britain    London     10568    204           302
1501  1948     Summer  Great Britain    London      4104     59           136

           country  gold  silver  bronze
264    Afghanistan     0       0       1
329   Saudi Arabia     0       0       1
1501    Yugoslavia     0       2       0

A list of games where the amount of athletes is over 11000.

In [17]:
import pandas as pd
df = pd.read_csv('/workspaces/InClass/olympic_games.csv')
athletes= 11000
data= df[df['athletes']>=athletes] 
print(data)

     year games_type host_country host_city  athletes  teams  competitions  \
29   2020     Summer        Japan     Tokyo     11420    206           339
30   2020     Summer        Japan     Tokyo     11420    206           339
31   2020     Summer        Japan     Tokyo     11420    206           339
32   2020     Summer        Japan     Tokyo     11420    206           339
33   2020     Summer        Japan     Tokyo     11420    206           339
..    ...        ...          ...       ...       ...    ...           ...
233  2016     Summer       Brazil       Rio     11238    207           306
234  2016     Summer       Brazil       Rio     11238    207           306
235  2016     Summer       Brazil       Rio     11238    207           306
236  2016     Summer       Brazil       Rio     11238    207           306
237  2016     Summer       Brazil       Rio     11238    207           306

                      country  gold  silver  bronze
29                  Argentina     0       1       2
30                    Armenia     0       2       2
31                  Australia    17       7      22
32                    Austria     1       1       5
33                 Azerbaijan     0       3       4
..                        ...   ...     ...     ...
233            United Kingdom    27      23      17
234  United States of America    46      37      38
235                Uzbekistan     4       2       7
236                 Venezuela     0       2       1
237                   Vietnam     1       1       0

[179 rows x 11 columns]